<!-- start custom head snippets -->

<!-- insert favicons. use https://realfavicongenerator.net/ -->
<link rel="apple-touch-icon" sizes="180x180"
    href="https://uomaep.github.io/assets/images/favicon/apple-icon-180x180.png">
<link rel="icon" type="image/png" sizes="32x32" href="https://uomaep.github.io/assets/images/favicon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="https://uomaep.github.io/assets/images/favicon/favicon-16x16.png">
<link rel="manifest" href="https://uomaep.github.io/assets/images/favicon/site.webmanifest">
<link rel="mask-icon" href="https://uomaep.github.io/assets/images/favicon/ms-icon-150x150.svg" color="#5bbad5">
<meta name="msapplication-TileColor" content="#ffc40d">
<meta name="theme-color" content="#ffffff">

<!-- end custom head snippets -->